@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>HCMC Print Management</h1>
    <p class="lead">Tool to help manage EPS and Enterprise printing</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Use the links in the header to go between printers, print jobs and print servers to manage accordingly.
        </p>
    </div>
    <div class="col-md-4">
        <h2>In The Works</h2>
        <p>Still working on deleting and modifying printers and more.  Let us know if you have any ideas to add.  Could add the ability to manage printers on the Enterprise Print servers too.</p>
    </div>
    <div class="col-md-4">
        <h2>Things to Know</h2>
        <p>The Printers and Print Jobs tabs may be slightly slow to load as it's actively querying all servers.  You may flush an entire print queue under the Printer -> Options link or individual jobs under the Print jobs -> Delete button.  You can flush DNS of a server from the Print Servers tab with the Options link.  You can edit a Print Driver for an EPS printer from the Printers -> Options tab.</p>
    </div>
</div>